<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="eXGa2uT6Sny48hiyXCRWPhlgIlTiSef_EvJtLZU84yQ" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> ListenPages :: Cookie Policy</title>
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/core.css">
        <!-- start ConvertFox JS code-->
        <script>
        (function(d,h,w){var s; var convertfox=w.convertfox=w.convertfox||[];convertfox.methods=['trackPageView','identify','track','setAppId'];convertfox.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);convertfox.push(e);return convertfox;}};for(var i=0;i<convertfox.methods.length;i++){var c=convertfox.methods[i];convertfox[c]=convertfox.factory(c)}s=d.createElement('script'),s.src="//d3sjgucddk68ji.cloudfront.net/convertfox.min.js",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),convertfox.setAppId("nmovrwmg"),convertfox.trackPageView()})(document,'head',window);
        </script>

        <!-- end ConvertFox JS code-->
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136137368-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-136137368-1');
        </script>
        <!-- start Gist JS code--><script>    (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("nmovrwmg"),gist.trackPageView()})(document,'head',window);</script><!-- end Gist JS code-->

    </head>
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and nav -->
        <div class="hero is-relative is-medium is-theme-secondary is-bold hero-waves giant-pb">
            
            <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
                <div class="container">
                    <!-- Brand -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img class="light-logo" src="/assets/images/logos/logo-white.png" alt="">
                            <img class="dark-logo" src="/assets/images/logos/logo-standard.png" alt="">
                        </a>
            
                        <!-- Responsive toggle -->
                        <div class="custom-burger" data-target="">
                            <a id="" class="responsive-btn" href="#">
                                <span class="menu-toggle">	
                                    <span class="icon-box-toggle"> 	
                                        <span class="rotate">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i> 
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <!-- /Responsive toggle -->
                    </div>
            
                    <!-- Navbar menu -->
                    <div class="navbar-menu">
                       <!-- Navbar menu -->
                    <div class="navbar-menu">
                        <!-- Navbar Start -->
                        <div class="navbar-start">
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/pricing">
                                Pricing
                            </a>
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/login">
                                Login
                            </a>
                        </div>
            
                        <!-- Navbar end -->
                        <div class="navbar-end">
                            <!-- Signup button -->
                            <div class="navbar-item">
                                <a id="#signup-btn" href="" class="button button-signup btn-outlined is-bold btn-align light-btn rounded raised">
                                    Sign Up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Hero image -->
            <div id="main-hero" class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6 is-offset-3 header-caption is-centered pt-60 pb-60">
                            <h1 class="landing-title is-big">
                                Mmm, cookies.
                            </h1>
                            <h2 class="subtitle is-5 light-text pt-10 pb-10">
                                Let's talk about how we manage 'em.
                            </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        <!-- /Hero and nav -->

        
        <!-- FAQ -->
        <section class="section section-feature-white is-medium">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        Cookie Policy.
                    </h2>
                    <h4>As of April 2019.</h4>
                </div>
                <!-- /Title -->
                        <div class="content">
                                <p>We use cookies to help improve your experience of https://listenpages.com. This cookie policy is part of ListenPages' privacy policy, and covers the use of cookies between your device and our site.</p>

                    <p>If you don’t wish to accept cookies from us, you should instruct your browser to refuse cookies from https://listenpages.com, with the understanding that we may be unable to provide you with some of your desired content and services.
</p>
                            </div>
                            <div class="content">
                                 <h4>What is a cookie?</h4>
                                <p>A cookie is a small piece of data that a website stores on your device when you visit, typically containing information about the website itself, a unique identifier that allows the site to recognise your web browser when you return, additional data that serves the purpose of the cookie, and the lifespan of the cookie itself.
                                </p>
                              <p>Cookies are used to enable certain features (eg. logging in), to track site usage (eg. analytics), to store your user settings (eg. timezone, notification preferences), and to personalise your content (eg. advertising, language).</p>
                              <p>Cookies set by the website you are visiting are normally referred to as “first-party cookies”, and typically only track your activity on that particular site. Cookies set by other sites and companies (ie. third parties) are called “third-party cookies”, and can be used to track you on other websites that use the same third-party service.</p>
                            </div>
                        <br>
                        <div class="content">
                                <h4>Types of cookies and how we use them</h4>
                                <p class="text-bold color-primary">Essential cookies</p>
                                <p>Essential cookies are crucial to your experience of a website, enabling core features like user logins, account management, shopping carts and payment processing. We use essential cookies to enable certain functions on our website.</p>
                                <p class="text-bold color-primary">Performance cookies</p>
                                <p>Performance cookies are used in the tracking of how you use a website during your visit, without collecting personal information about you. Typically, this information is anonymous and aggregated with information tracked across all site users, to help companies understand visitor usage patterns, identify and diagnose problems or errors their users may encounter, and make better strategic decisions in improving their audience’s overall website experience. These cookies may be set by the website you’re visiting (first-party) or by third-party services. We use performance cookies on our site.</p>
                                <p class="text-bold color-primary">Functionality cookies</p>
                                <p>Functionality cookies are used in collecting information about your device and any settings you may configure on the website you’re visiting (like language and timezone settings). With this information, websites can provide you with customised, enhanced or optimised content and services. These cookies may be set by the website you’re visiting (first-party) or by third-party service. We use functionality cookies for selected features on our site.</p>
                                <p class="text-bold color-primary">Targeting/advertising cookies</p>
                                <p>Targeting/advertising cookies are used in determining what promotional content is more relevant and appropriate to you and your interests. Websites may use them to deliver targeted advertising or to limit the number of times you see an advertisement. This helps companies improve the effectiveness of their campaigns and the quality of content presented to you. These cookies may be set by the website you’re visiting (first-party) or by third-party services. Targeting/advertising cookies set by third-parties may be used to track you on other websites that use the same third-party service. We use targeting/advertising cookies on our site.</p>
                            </div>
                            <br>
                            <div class="content">
                                 <h4>How you can control or opt out of cookies</h4>
                                <p>If you do not wish to accept cookies from us, you can instruct your browser to refuse cookies from our website. Most browsers are configured to accept cookies by default, but you can update these settings to either refuse cookies altogether, or to notify you when a website is trying to set or update a cookie.
                                </p>
                              <p>If you browse websites from multiple devices, you may need to update your settings on each individual device.</p>
                              <p>Although some cookies can be blocked with little impact on your experience of a website, blocking all cookies may mean you are unable to access certain features and content across the sites you visit.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /FAQ -->
        
        <!-- Newsletter section -->
        <section class="section section-feature-grey is-relative footer-waves giant-pb">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        Your Subscription is on Us
                    </h2>
                    <h4>Get 3 free months by joining our beta testing program.</h4>
                </div>
                <!-- /Title -->
                <div class="content has-text-centered giant-pb">
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                            <!-- Styled input that shows only on desktop and tablet -->
                            <div class="giant-input-wrapper is-wavy is-hidden-mobile">
                                <div class="giant-input">
                                    <input type="text" placeholder="Your email address goes here">
                                    <a href=""><button class="button inner button-cta btn-align secondary-btn rounded raised no-lh">Join</button></a>
                                </div>
                            </div> 
                            <!-- /Input -->
        
                            <!-- Fallback input for mobile -->
                            <div class="mobile-input is-hidden-desktop is-hidden-tablet">
                                <input class="input is-medium" type="text" placeholder="Email address">
                                <button class="button button-cta btn-align secondary-btn raised is-fullwidth no-lh mt-10">Subscribe</button>
                            </div>
                            <!-- /Fallback input for mobile -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Newsletter section -->
        
        <!-- Dark footer -->
        <footer id="dark-footer" class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>LISTENPAGES</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">ListenPages University</a></li>
                                <li><a href="">Tutorial</a></li>
                                <li><a href="https://iamnorthbound.com/p/podcast/">Podcast</a></li>
                                <li><a href="">Webinars</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Support</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Knowledge Base</a></li>
                                <li><a href="/terms">Terms of Service</a></li>
                                <li><a href="/privacy">Privacy Policy</a></li>
                                <li><a href="/cookie">Cookie Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Company</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Press & Media</a></li>
                                <li><a href="">Become an Affiliate</a></li>
                                <li><a href="">Partner Offers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-logo">
                                <img src="/assets/images/logos/logo-white.png" alt="">
                            </div>
                            <div class="footer-header">
                                <nav class="level is-mobile">
                                    <div class="level-left level-social">
                                        <a href="http://www.facebook.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a href="http://www.twitter.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a href="http://www.instagram.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-instagram"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="copyright">
                                <span class="moto light-text">Our biggest goal is to help music artists reach theirs.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Dark footer --> 
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="/assets/js/app.js"></script>
        
        <!-- Bulkit js -->
        <script src="/assets/js/landing.js"></script>
        <script src="/assets/js/auth.js"></script>
        <script src="/assets/js/main.js"></script>    </body>  
</html>
