<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="eXGa2uT6Sny48hiyXCRWPhlgIlTiSef_EvJtLZU84yQ" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> ListenPages </title>
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/core.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136137368-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136137368-1');
</script>

        
        <!-- start ConvertFox JS code-->
        <script>
        (function(d,h,w){var s; var convertfox=w.convertfox=w.convertfox||[];convertfox.methods=['trackPageView','identify','track','setAppId'];convertfox.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);convertfox.push(e);return convertfox;}};for(var i=0;i<convertfox.methods.length;i++){var c=convertfox.methods[i];convertfox[c]=convertfox.factory(c)}s=d.createElement('script'),s.src="//d3sjgucddk68ji.cloudfront.net/convertfox.min.js",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),convertfox.setAppId("nmovrwmg"),convertfox.trackPageView()})(document,'head',window);
        </script>

<!-- end ConvertFox JS code-->
      <!-- start Gist JS code--><script>    (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("nmovrwmg"),gist.trackPageView()})(document,'head',window);</script><!-- end Gist JS code-->
    </head>
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and nav -->
        <div class="hero is-relative is-theme-secondary is-bold hero-waves">
        
            <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
                <div class="container">
                    <!-- Brand -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img class="light-logo" src="/assets/images/logos/logo-white.png" alt="">
                            <img class="dark-logo" src="/assets/images/logos/logo-standard.png" alt="">
                        </a>
            
                        <!-- Responsive toggle -->
                        <div class="custom-burger" data-target="">
                            <a id="" class="responsive-btn" href="#">
                                <span class="menu-toggle">	
                                    <span class="icon-box-toggle"> 	
                                        <span class="">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i> 
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <!-- /Responsive toggle -->
                    </div>
            
                    <!-- Navbar menu -->
                    <div class="navbar-menu">
                        <!-- Navbar Start -->
                        <div class="navbar-start">
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/pricing">
                                Pricing
                            </a>
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/login">
                                Login
                            </a>
                        </div>
            
                        <!-- Navbar end -->
                        <div class="navbar-end">
                            <!-- Signup button -->
                            <div class="navbar-item">
                                <a id="#signup-btn" href="" class="button button-signup btn-outlined is-bold btn-align light-btn rounded raised">
                                  Sign Up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Hero image -->
            <div id="main-hero" class="hero-body ">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">
                        <div class="column is-5 header-caption">
                            <h1 class="landing-title">
                                So many fans.
                            </h1>
                            <h2 class="subtitle is-5 light-text">
                                Stop trying to grow your audience in the dark.<br> <b>Your music deserves more true fans.</b><br>
                            </h2>
                            <p class="pt-10 pb-10">
                                <a href="" class="button button-cta btn-align btn-outlined is-bold light-btn rounded z-index-2">
                                    Watch the Video
                                </a>
                            </p>
                        </div>
                        <div class="column is-9 is-offset-1">
                            <figure class="image is-3by2">
                                <img src="/assets/images/illustrations/mockups/landing/macbook-phone.png" alt="">
                            </figure>
                        </div>
        
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        <!-- /Hero and nav -->
        
        <!-- Feature Matrix -->
        <section id="features" class="section is-medium">
            <div class="container has-text-centered">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        It's Music Marketing Made Simple.
                    </h2>
                    <h4>You've <b>never</b> understood your audience like this before.</h4>
                </div>
                <!-- /Title -->
                
        
                <div class="content-wrapper">
                    <div class="columns is-vcentered has-text-centered">
                        <div class="column is-hidden-mobile"></div>
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">space_bar</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Insight
                                </div>
                                <div class="box-text is-tablet-padded">
                                    How many fans do you <i>really</i> have? Let's find out.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">graphic_eq</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Understanding
                                </div>
                                <div class="box-text is-tablet-padded">
                                    Our data allows you to finally understand your audience. 
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                        <!-- Animated Icon box -->
                        <div class="column is-3">
                            <div class="square-icon-box is-landing secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">show_chart</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Growth
                                </div>
                                <div class="box-text is-tablet-padded">
                                    You'll then learn exactly what is required to see growth.
                                </div>
                            </div>
                        </div>
                        <!-- /Animated Icon box -->
                       
                        <div class="column is-hidden-mobile"></div>
                    </div>
                    <div class="pb-20 pt-20 is-title-reveal">
                        <a href="" class="button button-cta btn-align secondary-btn rounded raised">Get Started</a>
                    </div>
                </div>
        
            </div>
        </section>
        <!-- /Feature Matrix -->
        
        <!-- Feature -->
        <section class="section is-medium section-feature-grey">
            <div class="container">
                <div class="columns is-vcentered">
                    <!-- With the help of responsive modifiers, the text column is duplicated to ensure better readability both on desktop and mobile viewports -->
                    <div class="column is-4 is-offset-1 is-hidden-desktop is-hidden-tablet">
                        <div class="icon-subtitle"><i class=""></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Say Hello to Growth</h2>
                            <div class="bg-number"></div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description"><b>The power of advanced marketing is finally in the hands of music artists.</b> ListenPages is here to help you grow more, connect more and sell more than you ever have before.</span>
                    </div>
        
                    <div class="column is-6 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg" src="/assets/images/illustrations/svg/content.svg" alt="" width="300">
                        <!-- /Featured illustration -->
                    </div>
        
                    <div class="column is-4 is-offset-1 is-hidden-mobile">
                        <div class="icon-subtitle"><i class="im im-icon-"></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Say Hello to Growth</h2>
                            <div class="bg-number"></div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description"><b>The power of advanced marketing is finally in the hands of music artists.</b> ListenPages is here to help you grow more, connect more and sell more than you ever have before.</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- Feature -->
        <section class="section is-medium">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-1">
                        <div class="icon-subtitle"><i class=""></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Distraction Free Life</h2>
                            <div class="bg-number"></div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">ListenPages provides you with the perfect way to keep your listener's focus directly on your content. Then, we measure multiple points of behavioural data behind the scenes to let you know how committed they <i>really</i> are.</span>
                    </div>
        
                    <div class="column is-6 is-offset-1 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg" src="/assets/images/illustrations/svg/metrics.svg" alt="" width="300">
                        <!-- /Featured illustration -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- Feature -->
        <section class="section is-medium section-feature-grey">
            <div class="container">
                <div class="columns is-vcentered">
        
                    <!-- With the help of responsive modifiers, the text column is duplicated to ensure better readability both on desktop and mobile viewports -->
                    <div class="column is-4 is-offset-1 is-hidden-desktop is-hidden-tablet">
                        <div class="icon-subtitle"><i class=""></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Perfect Your Content</h2>
                            <div class="bg-number"></div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Ever feel like you have no idea of what to post to your followers? ListenPages allows you to create the content that your audience is unknowingly demanding more of - resonating content that moves them toward becoming a true fan of your music.</span>
                    </div>
        
                    <div class="column is-6 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg" src="/assets/images/illustrations/svg/media.svg" alt="" width="350">
                        <!-- /Featured illustration -->
                    </div>
        
                    <div class="column is-4 is-offset-1 is-hidden-mobile">
                        <div class="icon-subtitle"><i class=""></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <div>Perfect Your Content</div>
                            <div class="bg-number"></div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">Ever feel like you have no idea of what to post to your followers? ListenPages allows you to create the content that your audience is unknowingly demanding more of - resonating content that moves them toward becoming a true fan of your music.</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- Feature -->
        <section class="section is-medium">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-1">
                        <div class="icon-subtitle"><i class=""></i></div>
                        <div class="title quick-feature is-handwritten text-bold">
                            <h2>Hi, True Fans!</h2>
                            <div class="bg-number"></div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="section-feature-description">ListenPages will help you convert people who have never heard of your music before into life-long true fans, through our incredible data insights and advanced coaching circles.</span>
                    </div>
        
                    <div class="column is-6 is-offset-1 has-text-centered">
                        <!-- Featured illustration -->
                        <img class="featured-svg-lg" src="/assets/images/illustrations/svg/love.svg" alt="" width="300">
                        <!-- /Featured illustration -->
                    </div>
                </div>
                <div class="has-text-centered is-title-reveal pt-20 pb-20">
                    <a href="" class="button button-cta secondary-btn rounded raised">Get Started</a>
                </div>
            </div>
        </section>
        <!-- /Feature -->
        
        <!-- More features -->
        <section class="section is-medium is-relative section-feature-grey">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        How Does It Work?
                    </h2>
                    <h4>Using ListenPages is as simple as 'one, two, three'.</h4>
                </div>
                <!-- /Title -->
        
                <div class="content-wrapper">
                    <div class="columns is-vcentered">
                        <div class="column is-4 has-text-centered">
                            <h3 class="is-3 small-feature">1. Post your Smart Link</h3>
                            <p class="mb-20 is-tablet-padded">ListenPages will build you a perfect way to display your content to your followers.</p>
                            <div class="feature-sm">
                                <img class="is-card-reveal" src="/assets/images/illustrations/mockups/landing/search.png" alt="">
                            </div>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <h3 class="is-3 small-feature">2. Your Listeners Engage</h3>
                            <p class="mb-20 is-tablet-padded">Our algorithms measure the behavioural data of those that engage with your content.</p>
                            <div class="feature-sm">
                                <img class="is-card-reveal" src="/assets/images/illustrations/mockups/landing/tiles.png" alt="">
                            </div>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <h3 class="is-3 small-feature">3. Incredible Data Insight</h3>
                            <p class="mb-20 is-tablet-padded">We will show you exactly what is required from you to bring big growth to your audience.</p>
                            <div class="feature-sm">
                                <img class="is-card-reveal" src="/assets/images/illustrations/mockups/landing/activity-chart.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="has-text-centered pt-20 pb-20">
                        <a href="" class="button button-cta btn-align secondary-btn rounded raised">Get Started</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /More features -->
        
        <!-- Video -->
        <div class="section is-medium">
            <div class="container">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div id="features-video">
                            <div class="side-block">
                                <div class="background-wrapper">
                                    <div id="video-embed" class="video-wrapper is-title-reveal" data-url="https://www.youtube.com/watch?v=QlZOV_7KZ-E">
                                        <div class="video-overlay"></div>
                                        <div class="playbutton">
                                            <div class="icon-play">
                                                <i class="im im-icon-Play-Music"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Video -->
        
        <!-- Learning -->
        <section id="learning" class="section is-medium">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        Want to Learn More?
                    </h2>
                    <h4>Read one of our great articles below:</h4>
                </div>
                <!-- /Title -->
        
                <div class="content-wrapper">
                    <div class="columns is-vcentered">
                        <!-- Card -->
                        <div class="column is-4">
                            <div class="card ressource-card">
                                <div class="card-image">
                                    <div class=""></div>
                                    <figure class="image is-4by3 zoomOut">
                                        <img src="/assets/images/illustrations/blog/1.jpg" alt=""
                                            >
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="">How Does ListenPages Work?</a>
                                            <p class="subtitle is-6"><b>LP University</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Card -->
        
                        <!-- Card -->
                        <div class="column is-4">
                            <div class="card ressource-card">
                                <div class="card-image">
                                    <div class=""></div>
                                    <figure class="image is-4by3 zoomOut">
                                        <img src="/assets/images/illustrations/blog/2.jpg" alt=""
                                            >
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="">What is a Listen Path?</a>
                                            <p class="subtitle is-6"><b>LP University</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Card -->
        
                        <!-- Card -->
                        <div class="column is-4">
                            <div class="card ressource-card">
                                <div class="card-image">
                                    <div class=""></div>
                                    <figure class="image is-4by3 zoomOut">
                                        <img src="/assets/images/illustrations/blog/3.jpg" alt=""
                                            >
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="">How Can It Help Me Grow?</a>
                                            <p class="subtitle is-6"><b>LP University</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Card -->
        
                    </div>
                </div>
            </div>
        </section>
        <!-- /Learning -->
        
                </div>
            </div>
        </section>
        <!-- Clients -->
        
        
        
        <!-- Dark footer -->
        <footer id="dark-footer" class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>LISTENPAGES</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">ListenPages University</a></li>
                                <li><a href="">Tutorial</a></li>
                                <li><a href="">Podcast</a></li>
                                <li><a href="">Webinars</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Support</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Knowledge Base</a></li>
                                <li><a href="">Speak to a Professional</a></li>
                                <li><a href="">Request a Demo</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Company</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Blog</a></li>
                                <li><a href="">Press & Media</a></li>
                                <li><a href="">Become an Affiliate</a></li>
                                <li><a href="">Partner Offers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-logo">
                                <img src="/assets/images/logos/logo-white.png" alt="">
                            </div>
                            <div class="footer-header">
                                <nav class="level is-mobile">
                                    <div class="level-left level-social">
                                        <a href="http://www.facebook.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a href="http://www.twitter.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a href="http://www.instagram.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-instagram"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="copyright">
                                <span class="moto light-text">Our biggest goal is to help music artists reach theirs.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Dark footer -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="/assets/js/app.js"></script>
        
        <!-- Bulkit js -->
        <script src="/assets/js/landing.js"></script>
        <script src="/assets/js/auth.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>  
</html>
