<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="eXGa2uT6Sny48hiyXCRWPhlgIlTiSef_EvJtLZU84yQ" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> ListenPages :: 
        cing</title>
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/core.css">
        <!-- start ConvertFox JS code-->
        <script>
        (function(d,h,w){var s; var convertfox=w.convertfox=w.convertfox||[];convertfox.methods=['trackPageView','identify','track','setAppId'];convertfox.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);convertfox.push(e);return convertfox;}};for(var i=0;i<convertfox.methods.length;i++){var c=convertfox.methods[i];convertfox[c]=convertfox.factory(c)}s=d.createElement('script'),s.src="//d3sjgucddk68ji.cloudfront.net/convertfox.min.js",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),convertfox.setAppId("nmovrwmg"),convertfox.trackPageView()})(document,'head',window);
        </script>

        <!-- end ConvertFox JS code-->
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136137368-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136137368-1');
</script>
        <!-- start Gist JS code--><script>    (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("nmovrwmg"),gist.trackPageView()})(document,'head',window);</script><!-- end Gist JS code-->

    </head>
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and nav -->
        <div class="hero is-relative is-medium is-theme-secondary is-bold hero-waves giant-pb">
            
            <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
                <div class="container">
                    <!-- Brand -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img class="light-logo" src="/assets/images/logos/logo-white.png" alt="">
                            <img class="dark-logo" src="/assets/images/logos/logo-standard.png" alt="">
                        </a>
            
                        <!-- Responsive toggle -->
                        <div class="custom-burger" data-target="">
                            <a id="" class="responsive-btn" href="#">
                                <span class="menu-toggle">	
                                    <span class="icon-box-toggle"> 	
                                        <span class="rotate">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i> 
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <!-- /Responsive toggle -->
                    </div>
            
                    <!-- Navbar menu -->
                    <div class="navbar-menu">
                       <!-- Navbar menu -->
                    <div class="navbar-menu">
                        <!-- Navbar Start -->
                        <div class="navbar-start">
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/pricing">
                                Pricing
                            </a>
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/login">
                                Login
                            </a>
                        </div>
            
                        <!-- Navbar end -->
                        <div class="navbar-end">
                            <!-- Signup button -->
                            <div class="navbar-item">
                                <a id="#signup-btn" href="" class="button button-signup btn-outlined is-bold btn-align light-btn rounded raised">
                                    Sign Up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Hero image -->
            <div id="main-hero" class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6 is-offset-3 header-caption is-centered pt-60 pb-60">
                            <h1 class="landing-title is-big">
                                Let's get started.
                            </h1>
                            <h2 class="subtitle is-5 light-text pt-10 pb-10">
                                Choose the plan that's right for you.
                            </h2>
                            <br>
                            <div class="pricing-picker">
                                <span id="show-monthly" class="is-active">Monthly</span> <span id="show-annualy">Annually</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        <!-- /Hero and nav -->
        
        <!-- Fancy Pricing tables -->
        <section class="section">
            <div class="container">
                <div id="header-pricing" class="header-pricing is-wavy">
                    <div class="columns is-vcentered">
                        <div class="column is-10 is-offset-1">
                            <div class="columns is-vcentered">
                                <div class="column is-4">
                                    <!-- Pricing table -->
                                    <div class="flex-card header-pricing-card primary hover-inset">
                                        <h3 class="plan-name">Practice</h3>
                                        <div class="pricing-card-body">
                                            <div class="plan-price per-month animated preFadeInUp fadeInUp">
                                                <small>$</small> 14 <small>/ month</small>
                                            </div>
                                            <div class="plan-price per-year is-hidden animated preFadeInUp fadeInUp">
                                                <small>$</small> 154 <small>/ year</small>
                                            </div>
                                            <ul class="plan-features">
                                                <li><span class="feature-count-text">15 ListenPages</span></li>
                                                <li><span class="feature-count-text">ListenHub</span></li>
                                                <li><span class="feature-count-text">Premium Training</span></li>
                                            </ul>
                                            <div class="pt-20 pb-20">
                                                <a class="button button-cta rounded raised primary-btn btn-outlined is-bold" href="">Get started</a>
                                            </div>
                                        </div>   
                                    </div>
                                    <!-- /Pricing table -->
                                </div>
        
                                <div class="column is-4">
                                    <!-- Pricing table -->
                                    <div class="flex-card header-pricing-card primary hover-inset">
                                        <h3 class="plan-name">Professional</h3>
                                        <div class="pricing-card-body">
                                            <div class="plan-price per-month animated preFadeInUp fadeInUp">
                                                <small>$</small> 19 <small>/ month</small>
                                            </div>
                                            <div class="plan-price per-year is-hidden animated preFadeInUp fadeInUp">
                                                <small>$</small> 190 <small>/ year</small>
                                            </div>
                                            <ul class="plan-features">
                                                <li><span class="feature-count-text">Everything in Practice Plan</span></li>
                                                <li><span class="feature-count-text">Unlimited ListenPages</span></li>
                                                <li><span class="feature-count-text">Monthly Coaching & Inner Circle</span></li>
                                            </ul>
                                            <div class="pt-20 pb-20">
                                                <a class="button button-cta rounded raised primary-btn btn-outlined is-bold" href="">Get started</a>
                                            </div>
                                        </div> 
                                    </div>
                                    <!-- /Pricing table -->
                                </div>
        
                                <div class="column is-4">
                                    <!-- Pricing table -->
                                    <div class="flex-card header-pricing-card secondary hover-inset">
                                        <h3 class="plan-name">Agency</h3>
                                        <div class="pricing-card-body">
                                            <div class="plan-price per-month animated preFadeInUp fadeInUp">
                                                <small>$</small> 89 <small>/ month</small>
                                            </div>
                                            <div class="plan-price per-year is-hidden animated preFadeInUp fadeInUp">
                                                <small>$</small> 1044 <small>/ year</small>
                                            </div>
                                            <ul class="plan-features">
                                                <li><span class="feature-count-text">Everything in Professional Plan</span></li>
                                                <li><span class="feature-count-text">Personalised Reports</span></li>
                                                <li><span class="feature-count-text">1 on 1 Music Marketing Coaching</span></li>
                                            </ul>
                                            <div class="pt-20 pb-20">
                                                <a class="button button-cta rounded raised secondary-btn btn-outlined is-bold" href="">Get started</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Pricing table -->
                                </div>
                            </div>
        
                        </div>
                    </div>       
                </div>
            </div>
        </section>
        <!-- /Fancy Pricing tables -->
        
        <!-- FAQ -->
        <section class="section section-feature-grey is-medium">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        Frequently Asked Questions
                    </h2>
                    <h4>Got questions? You'll find the answers right here.</h4>
                </div>
                <!-- /Title -->
        
                <div class="content-wrapper">
                    <div class="columns">
                        <div class="column is-4 is-offset-2">
                            <div class="content">
                                <p class="text-bold color-primary">1. How quickly can I get started?</p>
                                <p>In the near future you'll be able to get started immediately after signing up, but ListenPages currently needs a little work before we're ready to launch. If you join our beta program, you'll be the first to know when we're good to go.</p>
                            </div>
                            <div class="content">
                                <p class="text-bold color-primary">3. Is this hard to learn?</p>
                                <p>Nope. We provide you with premium training to make sure that you get the most out of your ListenPages subscription. We're incredibly proud of the simplicity of our model and are sure that you'll love it too.</p>
                            </div>
                            <div class="content">
                                <p class="text-bold color-primary">5. What is the 1 on 1 coaching?</p>
                                <p>Don't want to have to cross your fingers that we pick your ListenPages data to break down at our inner circle sessions? Want to ensure that you're given tailored advice to help you grow your audience? You'll find it right here.</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="content">
                                <p class="text-bold color-primary">2. Do you have a refund policy?</p>
                                <p>Absolutely! We are so confident that you'll love ListenPages that we offer a 30 day money back guarantee, no questions asked! If you find that ListenPages is not for you, let us know and we will refund you. We'll still be friends, promise.</p>
                            </div>
                            <div class="content">
                                <p class="text-bold color-primary">4. What is the inner circle?</p>
                                <p>It's where we provide even more value to our ListenPages subscribers. In each session we break down the ListenPath data of other music artists and discuss up-to-date strategies on how to grow your audience even more!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /FAQ -->
        
        <!-- Newsletter section -->
        <section class="section section-feature-grey is-relative footer-waves giant-pb">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        Your Subscription is on Us
                    </h2>
                    <h4>Get 3 free months by joining our beta testing program.</h4>
                </div>
                <!-- /Title -->
                <div class="content has-text-centered giant-pb">
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                            <!-- Styled input that shows only on desktop and tablet -->
                            <div class="giant-input-wrapper is-wavy is-hidden-mobile">
                                <div class="giant-input">
                                    <input type="text" placeholder="Your email address goes here">
                                    <a href=""><button class="button inner button-cta btn-align secondary-btn rounded raised no-lh">Join</button></a>
                                </div>
                            </div> 
                            <!-- /Input -->
        
                            <!-- Fallback input for mobile -->
                            <div class="mobile-input is-hidden-desktop is-hidden-tablet">
                                <input class="input is-medium" type="text" placeholder="Email address">
                                <button class="button button-cta btn-align secondary-btn raised is-fullwidth no-lh mt-10">Subscribe</button>
                            </div>
                            <!-- /Fallback input for mobile -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Newsletter section -->
        
        <!-- Dark footer -->
        <footer id="dark-footer" class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>LISTENPAGES</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">ListenPages University</a></li>
                                <li><a href="">Tutorial</a></li>
                                <li><a href="">Podcast</a></li>
                                <li><a href="">Webinars</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Support</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Knowledge Base</a></li>
                                <li><a href="">Speak to a Professional</a></li>
                                <li><a href="">Request a Demo</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Company</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Blog</a></li>
                                <li><a href="">Press & Media</a></li>
                                <li><a href="">Become an Affiliate</a></li>
                                <li><a href="">Partner Offers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-logo">
                                <img src="/assets/images/logos/logo-white.png" alt="">
                            </div>
                            <div class="footer-header">
                                <nav class="level is-mobile">
                                    <div class="level-left level-social">
                                        <a href="http://www.facebook.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a href="http://www.twitter.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a href="http://www.instagram.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-instagram"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="copyright">
                                <span class="moto light-text">Our biggest goal is to help music artists reach theirs.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Dark footer -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="/assets/js/app.js"></script>
        
        <!-- Bulkit js -->
        <script src="/assets/js/landing.js"></script>
        <script src="/assets/js/auth.js"></script>
        <script src="/assets/js/main.js"></script>    </body>  
</html>
