<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="eXGa2uT6Sny48hiyXCRWPhlgIlTiSef_EvJtLZU84yQ" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> ListenPages :: Terms of Service</title>
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/core.css">
        <!-- start ConvertFox JS code-->
        <script>
        (function(d,h,w){var s; var convertfox=w.convertfox=w.convertfox||[];convertfox.methods=['trackPageView','identify','track','setAppId'];convertfox.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);convertfox.push(e);return convertfox;}};for(var i=0;i<convertfox.methods.length;i++){var c=convertfox.methods[i];convertfox[c]=convertfox.factory(c)}s=d.createElement('script'),s.src="//d3sjgucddk68ji.cloudfront.net/convertfox.min.js",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),convertfox.setAppId("nmovrwmg"),convertfox.trackPageView()})(document,'head',window);
        </script>

        <!-- end ConvertFox JS code-->
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136137368-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136137368-1');
</script>

    <!-- start Gist JS code--><script>    (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("nmovrwmg"),gist.trackPageView()})(document,'head',window);</script><!-- end Gist JS code-->
    </head>
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and nav -->
        <div class="hero is-relative is-medium is-theme-secondary is-bold hero-waves giant-pb">
            
            <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
                <div class="container">
                    <!-- Brand -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img class="light-logo" src="/assets/images/logos/logo-white.png" alt="">
                            <img class="dark-logo" src="/assets/images/logos/logo-standard.png" alt="">
                        </a>
            
                        <!-- Responsive toggle -->
                        <div class="custom-burger" data-target="">
                            <a id="" class="responsive-btn" href="#">
                                <span class="menu-toggle">	
                                    <span class="icon-box-toggle"> 	
                                        <span class="rotate">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i> 
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <!-- /Responsive toggle -->
                    </div>
            
                    <!-- Navbar menu -->
                    <div class="navbar-menu">
                       <!-- Navbar menu -->
                    <div class="navbar-menu">
                        <!-- Navbar Start -->
                        <div class="navbar-start">
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/pricing">
                                Pricing
                            </a>
                            <a class="navbar-item is-slide" href="/login">
                                Login
                            </a>
                        </div>
            
                        <!-- Navbar end -->
                        <div class="navbar-end">
                            <!-- Signup button -->
                            <div class="navbar-item">
                                <a id="#signup-btn" href="" class="button button-signup btn-outlined is-bold btn-align light-btn rounded raised">
                                    Sign Up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Hero image -->
            <div id="main-hero" class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6 is-offset-3 header-caption is-centered pt-60 pb-60">
                            <h1 class="landing-title is-big">
                                Terms of Service.
                            </h1>
                            <h2 class="subtitle is-5 light-text pt-10 pb-10">
                                Let's get the boring stuff out of the way.
                            </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        <!-- /Hero and nav -->

        
        <!-- FAQ -->
        <section class="section section-feature-white is-medium">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        Terms of Service.
                    </h2>
                    <h4>As of April 2019.</h4>
                </div>
                <!-- /Title -->
                        <div class="content">
                                <h4>1. Terms</h4>
                                <p>By accessing the website at https://listenpages.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
                            </div>
                            <div class="content">
                                 <h4>2. Use License</h4>
                                <p>Permission is granted to temporarily download one copy of the materials (information or software) on ListenPages' website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
                                </p>
                              <ol>
                                      <li>modify or copy the materials;</li>
                                      <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                                      <li>attempt to decompile or reverse engineer any software contained on ListenPages' website;</li>
                                      <li>remove any copyright or other proprietary notations from the materials; or</li>
                                      <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                                </ol> 
                                <p>This license shall automatically terminate if you violate any of these restrictions and may be terminated by ListenPages at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>
                            </div>
                        <br>
                        <div class="content">
                                <h4>3. Disclaimer</h4>
                                <ol>
                                      <li>The materials on ListenPages' website are provided on an 'as is' basis. ListenPages makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
                                      <li>Further, ListenPages does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
                                </ol> 
                            </div>
                            <br>
                        <div class="content">
                                <h4>4. Limitations</h4>
                                <p>In no event shall ListenPages or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on ListenPages' website, even if ListenPages or a ListenPages authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
                            </div>
                            <br>
                            <div class="content">
                                <h4>5. Accuracy of materials</h4>
                                <p>The materials appearing on ListenPages' website could include technical, typographical, or photographic errors. ListenPages does not warrant that any of the materials on its website are accurate, complete or current. ListenPages may make changes to the materials contained on its website at any time without notice. However, ListenPages does not make any commitment to update the materials.</p>
                            </div>
                            <br>
                            <div class="content">
                                <h4>6. Links</h4>
                                <p>ListenPages has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by ListenPages of the site. Use of any such linked website is at the user's own risk.</p>
                            </div>
                            <br>
                            <div class="content">
                                <h4>7. Modifications</h4>
                                <p>ListenPages may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
                            </div>
                            <br>
                            <div class="content">
                                <h4>8. Governing Law</h4>
                                <p>These terms and conditions are governed by and construed in accordance with the laws of NSW, Australia and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
                            </div>
                            <br>
                            </div>
                            
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /FAQ -->
        
        <!-- Newsletter section -->
        <section class="section section-feature-grey is-relative footer-waves giant-pb">
            <div class="container">
                <!-- Title -->
                <div class="section-title-wrapper has-text-centered">
                    <div class="bg-number"></div>
                    <h2 class="section-title-landing">
                        Your Subscription is on Us
                    </h2>
                    <h4>Get 3 free months by joining our beta testing program.</h4>
                </div>
                <!-- /Title -->
                <div class="content has-text-centered giant-pb">
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                            <!-- Styled input that shows only on desktop and tablet -->
                            <div class="giant-input-wrapper is-wavy is-hidden-mobile">
                                <div class="giant-input">
                                    <input type="text" placeholder="Your email address goes here">
                                    <a href=""><button class="button inner button-cta btn-align secondary-btn rounded raised no-lh">Join</button></a>
                                </div>
                            </div> 
                            <!-- /Input -->
        
                            <!-- Fallback input for mobile -->
                            <div class="mobile-input is-hidden-desktop is-hidden-tablet">
                                <input class="input is-medium" type="text" placeholder="Email address">
                                <button class="button button-cta btn-align secondary-btn raised is-fullwidth no-lh mt-10">Subscribe</button>
                            </div>
                            <!-- /Fallback input for mobile -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Newsletter section -->
        
        <!-- Dark footer -->
        <footer id="dark-footer" class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>LISTENPAGES</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">ListenPages University</a></li>
                                <li><a href="">Tutorial</a></li>
                                <li><a href="">Podcast</a></li>
                                <li><a href="">Webinars</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Support</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Knowledge Base</a></li>
                                <li><a href="/terms">Terms of Service</a></li>
                                <li><a href="/privacy">Privacy Policy</a></li>
                                <li><a href="/cookie">Cookie Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Company</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="">Blog</a></li>
                                <li><a href="">Press & Media</a></li>
                                <li><a href="">Become an Affiliate</a></li>
                                <li><a href="">Partner Offers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-logo">
                                <img src="/assets/images/logos/logo-white.png" alt="">
                            </div>
                            <div class="footer-header">
                                <nav class="level is-mobile">
                                    <div class="level-left level-social">
                                        <a href="http://www.facebook.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a href="http://www.twitter.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a href="http://www.instagram.com/listenpages" class="level-item">
                                            <span class="icon"><i class="fa fa-instagram"></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                        <a href="#" class="level-item">
                                            <span class="icon"><i class=""></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <div class="copyright">
                                <span class="moto light-text">Our biggest goal is to help music artists reach theirs.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Dark footer -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="/assets/js/app.js"></script>
        
        <!-- Bulkit js -->
        <script src="/assets/js/landing.js"></script>
        <script src="/assets/js/auth.js"></script>
        <script src="/assets/js/main.js"></script>    </body>  
</html>
